body {
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 500px; */
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  width: 100%;
  margin-top: 0%;
}

.hearderListItem {
  display: flex;
  gap: 20px;
}
ul {
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
}
li button {
  background-color: aquamarine;
  border: none;
  outline: none;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.menuImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* Center*/
.mainContainer {
  width: 580px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.googleImg {
  forced-color-adjust: none;
  height: 250px;
  margin: 30px 60px -80px 150px;
}

.searchbox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.search {
  width: 100%;
  height: 100%;
  padding: 13px;
  padding-left: 45px;
  border: 5px solid transparent;
  outline-style: solid;
  font-size: 16px;
  border-radius: 30px;
}
.searchicon {
  width: 25px;
  height: 30px;
}
.icons {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
img.mic {
  height: 30px;
  right: 10px;
}
img.lens {
  height: 30px;
  right: 20px;
}
.buttonsContainer {
  margin: 0 200px;
  padding: 22px 20px;
  color: #555;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn-1:hover {
  border: 2px solid red;
  border-radius: 20px;
  cursor: pointer;
}
.lang {
  margin-top: 2px;
  font-size: 20px;
  padding: 1px 215px;
}
.btn-2:hover {
  border: 2px solid red;
  border-radius: 20px;
  cursor: pointer;
}
/* Mobile view */
@media (max-width: 780px) {
  .headerContainer {
    width: fit-content;
  }
  ul {
    margin-left: 320px;
  }

  .search {
    width: 80%;
  }
  .icons {
    width: 80%;
  }
  .searchbox {
    padding-left: 39px;
  }
}
